.layout-20 {
  img {
    bottom: 0;
    right: -1rem;
    background: transparent;
    height: 100%;
    position: absolute;
  }
}

.card-space {
  @media (min-width:991.98px) {
    margin-bottom: 3rem;
  }
  height: 350px;
}

.web-image-view {
  @media (max-width:991.98px) {
    display: none !important;
  }

  &.image1a {
    bottom: 2rem;
    left: 0rem;
    width: 15rem;
    position: absolute;
    transform: scaleX(-1);
  }

  &.image1b {
    bottom: 17rem;
    left: 10rem;
    width: 7rem;
    position: absolute;
  }

  &.image1c {
    bottom: -8rem;
    left: 10rem;
    width: 12rem;
    transform: rotate(90deg);
    position: absolute;
  }

  &.image2 {
    left: 0;
  }

  &.image3 {
    bottom: 77px;
    right: -4px;
    width: 28rem;
    position: absolute;
  }

  &.image4a {
    top: 0;
    right: -4px;
    width: 32rem;
    position: absolute;
  }
  &.image4b {
    top: 7rem;
    right: 14rem;
    width: 6rem;
    position: absolute;
  }

  &.image5 {
    transform: rotate(-90deg) scaleX(-1);
    top: 8rem;
    right: -9rem;
    height: 10rem;
    position: absolute;
  }
  &.image6 {
    transform: rotate(90deg) scaleX(-1);
    bottom: 8rem;
    left: -9rem;
    height: 10rem;
    position: absolute;
  }
  &.image7 {
    transform: rotate(90deg) scaleX(-1);
    bottom: 9rem;
    right: -60px;
    width: 26rem;
    position: absolute;
  }
}

.tile-card {
  .show-brand-hover {
    display: none;
  }
  &:hover {
    .show-brand-hover {
      display: block;
    }
    .card-body {
      div {
        .icon {
          //background-color: transparentize(lighten(#4FC900FF, 10%), .5);
          background-color: #4FC900FF;
        }
        .btn-ecommerce {
          //background-color: transparentize(lighten(#4FC900FF, 10%), .5);
          background-color: #4FC900FF;
          color: white !important;
        }
      }
    }
  }
}

.select-label-special-render {
  position: absolute;
  height: 100%;
  z-index: 10;
  border-radius: 0.25rem;
}

.select-special-render {
  //padding-left: 2.2rem !important;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

#section2 {
  .icon {
    border: 3px solid white;
  }
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
