.layout-20 {
  img {
    bottom: 0;
    right: -1rem;
    background: transparent;
    height: 100%;
    position: absolute;
  }
}

.card-space {
  @media (min-width:991.98px) {
    margin-bottom: 3rem;
  }
  height: 350px;
}

.web-image-view {
  @media (max-width:991.98px) {
    display: none;
  }

  &.image2 {
    left: 0;
  }

  &.image1 {
    position: absolute;
    right: 0;
    width: 10rem;
  }
  &.image3 {
    bottom: -3px;
    right: -4px;
    width: 32rem;
    position: absolute;
  }
}
