<nav id="navbar-main"
     class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container align-items-stretch">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img id="dark-logo" alt="Tackon Logo black" style="height: 5rem"
           src="./assets/img/logo/Tackon_Full_Color_Logo.png"/>
      <img id="lite-logo" alt="Tackon Logo white" style="height: 5rem"
           src="./assets/img/logo/Tackon_White_Green_Logo.png"/>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" style="justify-content: space-between"
         [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/logo/Tackon_Full_Color_Logo.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <div class="navbar-nav navbar-nav-hover align-items-lg-center">
        <ul class="align-items-lg-center mb-0 p-0">
          <li class="nav-item dropdown nav-item-full">
            <a class="nav-link no-caret" [routerLink]="['#']" data-toggle="dropdown" role="button">
              <span class="nav-link-inner--text">Solutions</span>
              <ul class="mobile-view">
                <li>
                  <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                     class="media d-flex align-items-center">
                    <div class="media-body ml-3 mr-3 mt-3 d-flex align-items-center mobile-link_i">
                      <div class="icon-sm icon-shape bg-ecommerce rounded-circle text-white">
                        <img alt="Text Icon" src="./assets/img/icons/brand/Text_Black.svg.svg"/>
                      </div>
                      <span class="heading text-ecommerce ml-3 mr-3">Text</span>
                      <i class="ni ni-bold-right mb-1"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                     class="media d-flex align-items-center">
                    <div class="media-body ml-3 mr-3 mt-3 d-flex align-items-center mobile-link">
                      <div class="icon-sm icon-shape bg-ecommerce rounded-circle text-white">
                        <img alt="Scan Icon" src="./assets/img/icons/brand/Scan_Black.svg.svg"/>
                      </div>
                      <span class="heading text-ecommerce ml-3 mr-3">Scan</span>
                      <i class="ni ni-bold-right mb-1"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                     class="media d-flex align-items-center">
                    <div class="media-body ml-3 mr-3  mt-3 d-flex align-items-center mobile-link">
                      <div class="icon-sm icon-shape bg-ecommerce rounded-circle text-white">
                        <img style="width: 1rem" alt="QR Icon" src="./assets/img/icons/brand/QR_Black.svg.svg"/>
                      </div>
                      <span class="heading text-ecommerce ml-3 mr-3">QR</span>
                      <i class="ni ni-bold-right mb-1"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                     class="media d-flex align-items-center">
                    <div class="media-body ml-3 mr-3 mt-3 d-flex align-items-center mobile-link">
                      <div class="icon-sm icon-shape bg-ecommerce rounded-circle text-white">
                        <img alt="QR Icon" src="./assets/img/icons/brand/Invoice_Black.svg.svg"/>
                      </div>
                      <span class="heading text-ecommerce mr-3 ml-3">Invoice</span>
                      <i class="ni ni-bold-right mb-1"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                     class="media d-flex align-items-center">
                    <div class="media-body ml-3 mr-3 mt-3 d-flex align-items-center mobile-link">
                      <div class="icon-sm icon-shape bg-ecommerce rounded-circle text-white">
                        <img alt="QR Icon" src="./assets/img/icons/brand/E-Commerce_Black.svg.svg"/>
                      </div>
                      <span class="heading text-ecommerce ml-3 mr-3">E-Commerce</span>
                      <i class="ni ni-bold-right mb-1"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </a>
            <div class="dropdown-menu-xl dropdown-menu">
              <div class="dropdown-menu-inner">
                <div class="row justify-content-center">
                  <div class="col-sm-3 text-left">
                    <h1 class="display-4 text-default">
                      <span class="text-text">
                        Solutions
                      </span>
                    </h1>
                    <p class="lead text-default" style="margin:0">Learn how you can accept payments.</p>
                  </div>
                  <div class="col-sm-3">
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
                        <img alt="Text Icon" src="./assets/img/icons/brand/Text_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 mr-3" style="flex: none; padding-top: 8px;">
                        <h5 class="heading text-ecommerce mb-md-1">Text</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">Learn how to integrate with our scan to pay services</p>-->
                      </div>
                      <i class="ni ni-bold-right hover-flip"></i>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
                        <img alt="Scan Icon" src="./assets/img/icons/brand/Scan_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 mr-3" style="flex: none; padding-top: 8px;">
                        <h5 class="heading text-ecommerce mb-md-1">Scan</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">Learn how to integrate with our scan to pay services</p>-->
                      </div>
                      <i class="ni ni-bold-right hover-flip"></i>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
                        <img alt="QR Icon" src="./assets/img/icons/brand/QR_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 mr-3" style="flex: none; padding-top: 8px;">
                        <h6 class="heading text-ecommerce mb-md-1">QR</h6>
<!--                        <p class="description d-none d-md-inline-block mb-0">Learn how to integrate with our invoicing services</p>-->
                      </div>
                      <i class="ni ni-bold-right hover-flip"></i>
                    </a>
                  </div>
                  <div class="col-sm-3">
                    <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
                        <img alt="QR Icon" src="./assets/img/icons/brand/Invoice_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 mr-3" style="flex: none; padding-top: 8px;">
                        <h6 class="heading text-ecommerce mb-md-1">Invoice</h6>
<!--                        <p class="description d-none d-md-inline-block mb-0">Learn how to integrate with our invoicing services</p>-->
                      </div>
                      <i class="ni ni-bold-right hover-flip"></i>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
                        <img alt="QR Icon" src="./assets/img/icons/brand/E-Commerce_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 mr-3" style="flex: none; padding-top: 8px;">
                        <h6 class="heading text-ecommerce mb-md-1">E-Commerce</h6>
<!--                        <p class="description d-none d-md-inline-block mb-0">Learn how to integrate with our invoicing services</p>-->
                      </div>
                      <i class="ni ni-bold-right hover-flip"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown nav-item-full">
            <a class="nav-link no-caret" [routerLink]="['#']" data-toggle="dropdown" role="button">
              <span class="nav-link-inner--text">Partners</span>
              <ul class="mobile-view">
                <li>
                  <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                     class="media d-flex align-items-center">
                    <div class="media-body ml-3 mr-3 mt-3 d-flex align-items-center mobile-link">
                      <div class="icon-sm icon-shape bg-ecommerce rounded-circle text-white">
                        <img style="width: 1rem" src="./assets/img/icons/brand/ISV_Black.svg.svg"/>
                      </div>
                      <span class="heading text-ecommerce ml-3 mr-3">ISV</span>
                      <i class="ni ni-bold-right"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                     class="media d-flex align-items-center">
                    <div class="media-body ml-3 mr-3 mt-3 d-flex align-items-center mobile-link">
                      <div class="icon-sm icon-shape bg-ecommerce rounded-circle text-white">
                        <img src="./assets/img/icons/brand/Merchant_Black.svg.svg"/>
                      </div>
                      <span class="heading text-ecommerce ml-3 mr-3">Merchant</span>
                      <i class="ni ni-bold-right"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                     class="media d-flex align-items-center">
                    <div class="media-body ml-3 mr-3 mt-3 d-flex align-items-center mobile-link">
                      <div class="icon-sm icon-shape bg-ecommerce rounded-circle text-white">
                        <img src="./assets/img/icons/brand/AgentISO_Black.svg.svg"/>
                      </div>
                      <span class="heading text-ecommerce ml-3 mr-3">Agent + ISO</span>
                      <i class="ni ni-bold-right"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                     class="media d-flex align-items-center">
                    <div class="media-body ml-3 mr-3 mt-3 d-flex align-items-center mobile-link">
                      <div class="icon-sm icon-shape bg-ecommerce rounded-circle text-white">
                        <img style="width: 1rem" src="./assets/img/icons/brand/Fintech_Black.svg.svg"/>
                      </div>
                      <span class="heading text-ecommerce ml-3 mr-3">Fintech</span>
                      <i class="ni ni-bold-right"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </a>
            <div class="dropdown-menu-xl dropdown-menu">
              <div class="dropdown-menu-inner">
                <div class="row justify-content-center">
                  <div class="col-sm-3 text-left">
                    <h1 class="display-4 text-default">
                      <span class="text-text">
                        Partners
                      </span>
                    </h1>
                    <p class="lead text-default">Learn how you can partner with us.</p>
                  </div>
                  <div class="col-sm-3">
                    <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
                        <img style="width: 2rem;" src="./assets/img/icons/brand/ISV_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 mr-3" style="flex: none; padding-top: 8px;">
                        <h6 class="heading text-ecommerce mb-md-1">ISV</h6>
                        <!--                        <p class="description d-none d-md-inline-block mb-0">View a list of our Api changelog</p>-->
                      </div>
                      <i class="ni ni-bold-right hover-flip"></i>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
                        <img src="./assets/img/icons/brand/Merchant_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 mr-3" style="flex: none; padding-top: 8px;">
                        <h5 class="heading text-ecommerce mb-md-1">Merchant</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">Check the status of our Api and services</p>-->
                      </div>
                      <i class="ni ni-bold-right hover-flip"></i>
                    </a>
                  </div>
                  <div class="col-sm-3">
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
                        <img src="./assets/img/icons/brand/AgentISO_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 mr-3" style="flex: none; padding-top: 8px;">
                        <h5 class="heading text-ecommerce mb-md-1">Agent + ISO</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">Check the status of our Api and services</p>-->
                      </div>
                      <i class="ni ni-bold-right hover-flip"></i>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
                        <img style="width: 2rem;" src="./assets/img/icons/brand/Fintech_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 mr-3" style="flex: none; padding-top: 8px;">
                        <h5 class="heading text-ecommerce mb-md-1">Fintech</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">Check the status of our Api and services</p>-->
                      </div>
                      <i class="ni ni-bold-right hover-flip"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown nav-item-full">
            <a class="nav-link no-caret" [routerLink]="['#']" data-toggle="dropdown" role="button">
              <span class="nav-link-inner--text">Developers</span>
              <ul class="mobile-view">
                <li>
                  <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                     class="media d-flex align-items-center">
                    <div class="media-body ml-3 mr-3 mt-3 d-flex align-items-center mobile-link">
                      <div class="icon-sm icon-shape bg-ecommerce rounded-circle text-white">
                        <img style="width: 1rem" src="./assets/img/icons/brand/Documentation_Black.svg.svg"/>
                      </div>
                      <span class="heading text-ecommerce ml-3 mr-3">Documentation</span>
                      <i class="ni ni-bold-right"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                     class="media d-flex align-items-center">
                    <div class="media-body ml-3 mr-3 mt-3 d-flex align-items-center mobile-link">
                      <div class="icon-sm icon-shape bg-ecommerce rounded-circle text-white">
                        <img src="./assets/img/icons/brand/Support_Black.svg.svg"/>
                      </div>
                      <span class="heading text-ecommerce ml-3 mr-3">Support</span>
                      <i class="ni ni-bold-right"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </a>
            <div class="dropdown-menu-xl dropdown-menu">
              <div class="dropdown-menu-inner">
                <div class="row justify-content-center">
                  <div class="col-sm-3 text-left">
                    <h1 class="display-4 text-default">
                      <span class="text-text">
                        Developers
                      </span>
<!--                      <img alt="Organic - Teal Dark Green-2" src="./assets/img/brand/custom/Connector-Left-043B38-Emerald-Flow-3.png" style="width: 14rem;">-->
                    </h1>
                    <p class="lead text-default">Learn how you can integrate to us.</p>
                  </div>
                  <div class="col-sm-3">
                    <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
                        <img style="width: 1.5rem;" src="./assets/img/icons/brand/Documentation_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 mr-3" style="flex: none; padding-top: 8px;">
                        <h6 class="heading text-ecommerce mb-md-1">Documentation</h6>
<!--                        <p class="description d-none d-md-inline-block mb-0">Start integrating Tackon Technologies products and services</p>-->
                      </div>
                      <i class="ni ni-bold-right hover-flip"></i>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
                        <img src="./assets/img/icons/brand/Support_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 mr-3" style="flex: none; padding-top: 8px;">
                        <h5 class="heading text-ecommerce mb-md-1">Support</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">View our guides to help you integrate with our products and services</p>-->
                      </div>
                      <i class="ni ni-bold-right hover-flip"></i>
                    </a>
                  </div>
                  <div class="col-sm-3">
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="btn btn-default">
        <a class="get-started no-caret" [href]="['#contact-us-form']" role="button">
<!--          <i class="ni ni-ui-04 d-lg-none"></i>-->
          <span class="nav-link-inner--text">Get Started</span>
        </a>
      </button>

      <!--      <ul class="navbar-nav align-items-lg-center ml-lg-auto">-->
      <!--        <li class="nav-item">-->
      <!--          <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">-->
      <!--            <i class="fa fa-facebook-square"></i>-->
      <!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Facebook</span>-->
      <!--          </a>-->
      <!--        </li>-->
      <!--        <li class="nav-item">-->
      <!--          <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">-->
      <!--            <i class="fa fa-instagram"></i>-->
      <!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Instagram</span>-->
      <!--          </a>-->
      <!--        </li>-->
      <!--        <li class="nav-item">-->
      <!--          <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">-->
      <!--            <i class="fa fa-twitter-square"></i>-->
      <!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Twitter</span>-->
      <!--          </a>-->
      <!--        </li>-->
      <!--        <li class="nav-item">-->
      <!--          <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-navbar" target="_blank" data-toggle="tooltip" title="Star us on Github">-->
      <!--            <i class="fa fa-github"></i>-->
      <!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Github</span>-->
      <!--          </a>-->
      <!--        </li>-->
      <!--        <li class="nav-item d-none d-lg-block ml-lg-4">-->
      <!--          <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-navbar" target="_blank" class="btn btn-neutral btn-icon">-->
      <!--            <span class="btn-inner--icon">-->
      <!--              <i class="fa fa-cloud-download mr-2"></i>-->
      <!--            </span>-->
      <!--            <span class="nav-link-inner--text">Download</span>-->
      <!--          </a>-->
      <!--        </li>-->
      <!--      </ul>-->
    </div>
  </div>
</nav>
