<nav id="navbar-main"
     class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container align-items-stretch">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img id="dark-logo" alt="Tackon Logo black" style="height: 5rem"
           src="./assets/img/logo/Tackon_Full_Color_Logo.png"/>
      <img id="lite-logo" alt="Tackon Logo white" style="height: 5rem"
           src="./assets/img/logo/Tackon_White_Green_Logo.png"/>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" style="justify-content: space-between"
         [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/logo/Tackon_Full_Color_Logo.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <div class="navbar-nav navbar-nav-hover align-items-lg-center">
        <ul class="align-items-lg-center mb-0">
          <li class="nav-item dropdown nav-item-full">
            <a class="nav-link no-caret" [routerLink]="['#']" data-toggle="dropdown" role="button">
              <div style="width: 2rem; height: 2rem"
                   class="icon icon-shape bg-gradient-primary rounded-circle text-white d-lg-none">
                <i class="ni ni-spaceship"></i>
              </div>
              <span class="nav-link-inner--text">Solutions</span>
            </a>
            <div class="dropdown-menu-xl dropdown-menu">
              <div class="dropdown-menu-inner">
                <div class="row align-items-center">
                  <div class="col-sm text-center">
                    <h1 class="display-3 text-default">
                      <span class="text-text"
                        style="width: fit-content;margin: 0 auto;">
<!--                        style="width: fit-content;margin: 0 auto;border-bottom: 1px solid;">-->
                        Solutions</span>
                      <img alt="Organic - Teal Dark Green-2" src="./assets/img/brand/custom/Connector-Left-043B38-Emerald-Flow-3.png" style="width:14rem;">
                    </h1>
<!--                    <p class="lead text-default">Solutions that are integrated, nimble, contactless. We are modern Fintech.</p>-->
                  </div>
                  <div class="col-sm">
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-text rounded-circle text-white">
<!--                        <i class="ni ni-ui-04"></i>-->
                        <img alt="Text Icon" src="./assets/img/icons/brand/Text_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3">
                        <h5 class="heading text-text mb-md-1">Text</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">Learn how to integrate with our scan to pay services</p>-->
                      </div>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-scan rounded-circle text-white">
<!--                        <i class="ni ni-ui-04"></i>-->
                        <img alt="Scan Icon" src="./assets/img/icons/brand/Scan_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3">
                        <h5 class="heading text-text mb-md-1">Scan</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">Learn how to integrate with our scan to pay services</p>-->
                      </div>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-qr rounded-circle text-white">
<!--                        <i class="ni ni-palette"></i>-->
                        <img alt="QR Icon" src="./assets/img/icons/brand/QR_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-text mb-md-1">QR</h6>
<!--                        <p class="description d-none d-md-inline-block mb-0">Learn how to integrate with our invoicing services</p>-->
                      </div>
                    </a>
                  </div>
                  <div class="col-sm">
                    <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-invoice rounded-circle text-white">
<!--                        <i class="ni ni-palette"></i>-->
                        <img alt="QR Icon" src="./assets/img/icons/brand/Invoice_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-text mb-md-1">Invoice</h6>
<!--                        <p class="description d-none d-md-inline-block mb-0">Learn how to integrate with our invoicing services</p>-->
                      </div>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-ecommerce rounded-circle text-white">
<!--                        <i class="ni ni-palette"></i>-->
                        <img alt="QR Icon" src="./assets/img/icons/brand/E-Commerce_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-text mb-md-1">E-Commerce</h6>
<!--                        <p class="description d-none d-md-inline-block mb-0">Learn how to integrate with our invoicing services</p>-->
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown nav-item-full">
            <a class="nav-link no-caret" [routerLink]="['#']" data-toggle="dropdown" role="button">
              <div style="width: 2rem; height: 2rem"
                   class="icon icon-shape bg-gradient-primary rounded-circle text-white d-lg-none">
                <i class="ni ni-spaceship"></i>
              </div>
              <span class="nav-link-inner--text">Partners</span>
            </a>
            <div class="dropdown-menu-xl dropdown-menu">
              <div class="dropdown-menu-inner">
                <div class="row align-items-center">
                  <div class="col-sm text-center">
                    <h1 class="display-3 text-default">
                      <span class="text-text"
                        style="width: fit-content;margin: 0 auto;">
<!--                        style="width: fit-content;margin: 0 auto;border-bottom: 1px solid;"-->
                      Partners
                      </span>
                      <img alt="Organic - Teal Dark Green-2" src="./assets/img/brand/custom/Connector-Left-043B38-Emerald-Flow-3.png" style="width: 14rem;">
                    </h1>
<!--                    <p class="lead text-default">Our solutions are built to drive modern contactless payments. Here is how we can accelerate your business.</p>-->
                  </div>
                  <div class="col-sm">
                    <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-isv rounded-circle text-white">
<!--                        <i class="ni ni-palette"></i>-->
                        <img src="./assets/img/icons/brand/ISV_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-text mb-md-1">ISV</h6>
<!--                        <p class="description d-none d-md-inline-block mb-0">View a list of our Api changelog</p>-->
                      </div>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-merchant rounded-circle text-white">
<!--                        <i class="ni ni-ui-04"></i>-->
                        <img src="./assets/img/icons/brand/Merchant_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3">
                        <h5 class="heading text-text mb-md-1">Merchant</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">Check the status of our Api and services</p>-->
                      </div>
                    </a>
                  </div>
                  <div class="col-sm">
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-iso rounded-circle text-white">
<!--                        <i class="ni ni-ui-04"></i>-->
                        <img src="./assets/img/icons/brand/AgentISO_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3">
                        <h5 class="heading text-text mb-md-1">Agent + ISO</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">Check the status of our Api and services</p>-->
                      </div>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-fintech rounded-circle text-white">
<!--                        <i class="ni ni-ui-04"></i>-->
                        <img style="width: 2rem;" src="./assets/img/icons/brand/Fintech_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3">
                        <h5 class="heading text-text mb-md-1">Fintech</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">Check the status of our Api and services</p>-->
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown nav-item-full">
            <a class="nav-link no-caret" [routerLink]="['#']" data-toggle="dropdown" role="button">
              <div style="width: 2rem; height: 2rem"
                   class="icon icon-shape bg-gradient-primary rounded-circle text-white d-lg-none">
                <i class="ni ni-spaceship"></i>
              </div>
              <span class="nav-link-inner--text">Developers</span>
            </a>
            <div class="dropdown-menu-xl dropdown-menu">
              <div class="dropdown-menu-inner">
                <div class="row align-items-center">
                  <div class="col-sm text-center">
                    <h1 class="display-3 text-default">
                      <span class="text-text"
                        style="width: fit-content;margin: 0 auto;">
<!--                        style="width: fit-content;margin: 0 auto;border-bottom: 1px solid;">-->
                        Developers</span>
                      <img alt="Organic - Teal Dark Green-2" src="./assets/img/brand/custom/Connector-Left-043B38-Emerald-Flow-3.png" style="width: 14rem;">
                    </h1>
<!--                    <p class="lead text-default">Our solutions are built to drive modern contactless payments. Here is how we can accelerate your business.</p>-->
                  </div>
                  <div class="col-sm text-center">
                    <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
<!--                        <i class="ni ni-palette"></i>-->
                        <img style="width: 1.5rem;" src="./assets/img/icons/brand/Documentation_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 text-left">
                        <h6 class="heading text-text mb-md-1">Documentation</h6>
<!--                        <p class="description d-none d-md-inline-block mb-0">Start integrating Tackon Technologies products and services</p>-->
                      </div>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                       class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
<!--                        <i class="ni ni-ui-04"></i>-->
                        <img src="./assets/img/icons/brand/Support_Black.svg.svg"/>
                      </div>
                      <div class="media-body ml-3 text-left">
                        <h5 class="heading text-text mb-md-1">Support</h5>
<!--                        <p class="description d-none d-md-inline-block mb-0">View our guides to help you integrate with our products and services</p>-->
                      </div>
                    </a>
                  </div>
                  <div class="col-sm text-center">
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="btn btn-default">
        <a class="get-started no-caret" [href]="['#contact-us-form']" role="button">
          <i class="ni ni-ui-04 d-lg-none"></i>
          <span class="nav-link-inner--text">Get Started</span>
        </a>
      </button>

      <!--      <ul class="navbar-nav align-items-lg-center ml-lg-auto">-->
      <!--        <li class="nav-item">-->
      <!--          <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">-->
      <!--            <i class="fa fa-facebook-square"></i>-->
      <!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Facebook</span>-->
      <!--          </a>-->
      <!--        </li>-->
      <!--        <li class="nav-item">-->
      <!--          <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">-->
      <!--            <i class="fa fa-instagram"></i>-->
      <!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Instagram</span>-->
      <!--          </a>-->
      <!--        </li>-->
      <!--        <li class="nav-item">-->
      <!--          <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">-->
      <!--            <i class="fa fa-twitter-square"></i>-->
      <!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Twitter</span>-->
      <!--          </a>-->
      <!--        </li>-->
      <!--        <li class="nav-item">-->
      <!--          <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-navbar" target="_blank" data-toggle="tooltip" title="Star us on Github">-->
      <!--            <i class="fa fa-github"></i>-->
      <!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Github</span>-->
      <!--          </a>-->
      <!--        </li>-->
      <!--        <li class="nav-item d-none d-lg-block ml-lg-4">-->
      <!--          <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-navbar" target="_blank" class="btn btn-neutral btn-icon">-->
      <!--            <span class="btn-inner--icon">-->
      <!--              <i class="fa fa-cloud-download mr-2"></i>-->
      <!--            </span>-->
      <!--            <span class="nav-link-inner--text">Download</span>-->
      <!--          </a>-->
      <!--        </li>-->
      <!--      </ul>-->
    </div>
  </div>
</nav>
